body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap; 
}

.card {
    width: 300px;                             
    background-color: #ffffff;                 
    padding: 20px;                            
    border-radius: 8px;                        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    text-align: center;                        
}


.card h3 {
    color: #336699;                           
    margin-bottom: 10px;
}


.card p {
    color: #555;
    font-size: 14px;
}
