body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 40px;
}

/* กล่องหลัก */
.exercise-container {
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.exercise-title {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}


.exercise-box {
    background: #f1f4f8;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.exercise-box h2 {
    margin-top: 0;
    color: #34495e;
}

.exercise-box p {
    line-height: 1.7;
    color: #555;
}

/* รูปภาพ */
.exercise-image {
    text-align: center;
}

.exercise-image img {
    max-width: 100%;
    border-radius: 12px;
}

.exer {
    text-align: center;      
}

.exer a {
    color: #ea62b1;          
    font-weight: bold;      
    font-size: 24px;         
    text-decoration: none;   
}

.exer a:hover {
    color: #c94a98;          
}
